<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CONTACTO-S&G</title>
    <meta name="description" content="dulces elaborados con productos ecologicos">
    <link rel="icon" href="../assets/imagenes/logo.png">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Lavishly+Yours&family=Lobster&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <div class="elemento"> <a href="../index.html" class="div_barra">INICIO</a></div>
            <div class="elemento"> <a href="./productos.html" class="div_barra">PRODUCTOS</a></div>
            <div class="elemento"> <a href="./contacto.html" class="div_barra2">CONTACTO</a></div>
            <div class="elemento"> <a href="./presupuesto.html" class="div_barra">PRESUPUESTOS PARA EVENTOS</a></div>
        </nav>  
        <h1> Sweet & Greens</h1>
        <img src="../assets/imagenes/logo.png" alt="logotipo" width="40" height="40">     
        <h2>CONTACTO</h2>
    </header>
    <!--------El main es la única parte diferente del resto de html, y consta sólo de una imagen y un breve texto---------->
    <main class="maincontacto">
        <img src="../assets/imagenes/mapa.jpg" alt="mapa" width="500" height="235">
        <p>C/Virgen del Socorro, 123 </br>12345, Alicante, España</p>
        <p>654 321 987</p>
    </main>
    <!---------------------------------------------------------------------------------->
    <footer class="footer_contacto">
        <div class="redes_sociales">
            <a href="https://www.facebook.com/"><img src="../assets/imagenes/facebook.png" alt="facebook" width="30" height="30"></a>
            <a href="https://www.youtube.com/"><img src="../assets/imagenes/youtube.jpg" alt="youtube" width="30" height="30"></a>
            <a href="https://www.instagram.com/"><img src="../assets/imagenes/instagram.png" alt="instagram" width="30" height="30"></a> 
        </div>
        <div class="direccion">
            <a href="https://g.co/kgs/MUBWLH2">c/Virgen del Socorro, 123,<br> 12345, Alicante</a>
        </div>
        <div class="aviso_legal">
            <a href="./views/avisoLegal.html">Aviso legal</a>
        </div>
    </footer>

</body>
</html>