<!DOCTYPE html>
<html lang="es">

    <head>
    <meta charset="UTF-8">
    <title>PRODUCTOS-S&G</title>
    <meta name="description" content="dulces elaborados con productos ecologicos">
    <link rel="icon" href="../assets/imagenes/logo.png">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Lavishly+Yours&family=Lobster&display=swap" rel="stylesheet">

    </head>

    <body>
        <header>
            <nav>
                <div class="elemento"> <a href="../index.html" class="div_barra">INICIO</a></div>
                <div class="elemento"> <a href="./productos.html" class="div_barra2">PRODUCTOS</a></div>
                <div class="elemento"> <a href="./contacto.html" class="div_barra">CONTACTO</a></div>
                <div class="elemento"> <a href="./presupuesto.html" class="div_barra">PRESUPUESTOS PARA EVENTOS</a></div>
            </nav>  
            <h1> Sweets & Greens</h1>
            <img src="../assets/imagenes/logo.png" alt="logotipo" width="40" height="40">     
            <h2>NUESTROS PRODUCTOS</h2>
        </header>
        <!--Hemos creado un grid de dos filas y tres columnas para colocar cada una de las imagenes asociadas a los 
        productos en forma de rejilla, con el @media, al cambiar el tamaño de la pantalla se convertirán en 3 filas y dos columnas-->
        <main class="mainproductos">
            <div>
                <img src="../assets/imagenes/tarta.jpg" alt="tarta" width="250" height="170">
                <p>TARTAS</p>
            </div>
            <div>
                <img src="../assets/imagenes/muffins.jpg" alt="muffins" width="250" height="170">
                <p>MUFFINS</p>
            </div>
            <div>
                <img src="../assets/imagenes/galletas.jpg" alt="galletas" width="250" height="170">
                <p>GALLETAS</p>
            </div>
            <div>
                <img src="../assets/imagenes/bombones.jpg" alt="bombones" width="250" height="170">
                <p>BOMBONES</p>
            </div>
            <div>
                <img src="../assets/imagenes/croissant.jpg" alt="croissant" width="250" height="170">
                <p>CROISSANES</p>
            </div>
            <div>
                <img src="../assets/imagenes/sin_gluten.jpg" alt="sin gluten" width="250" height="170">
                <p>SIN GLUTEN</p>
            </div>
        </main>
        <footer>
            <div class="redes_sociales">
                <a href="https://www.facebook.com/"><img src="../assets/imagenes/facebook.png" alt="facebook" width="30" height="30"></a>
                <a href="https://www.youtube.com/"><img src="../assets/imagenes/youtube.jpg" alt="youtube" width="30" height="30"></a>
                <a href="https://www.instagram.com/"><img src="../assets/imagenes/instagram.png" alt="instagram" width="30" height="30"></a> 
            </div>
            <div class="direccion">
                <a href="https://g.co/kgs/MUBWLH2">c/Virgen del Socorro, 123,<br> 12345, Alicante</a>
            </div>
            <div class="aviso_legal">
                <a href="./views/avisoLegal.html">Aviso legal</a>
            </div>
        </footer>
    </body>
</html>